extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  .row.justify-content-md-center
    .col-md-5.my-3
      form(action=urlFor('updateTask', form.id) method='post' novalidate)
        h5.my-3.text-center.font-weight-normal New task
        input(name='_method' type='hidden' value='put')
        +createInputGroup('name', 'text', 'Task name', form, errors, true)
        .form-group
          label(for='descriptionId') Description
          textarea.form-control(name='form.description' id='descriptionId')=form.description
          if errors['description']
            .invalid-feedback= errors['description'].map(({ message }) => message).join('. ')
        .form-group
          label(for='statusControlId') Status
          select.form-control(id='statusControlId' name='form.statusId')
            each status in statuses
              +createSelectOption(status.id, status.name, form.statusId)
        .form-group
          label(for='assignedToControlId') Assign to
          select.form-control(id='assignedToControlId' name='form.assignedToId')
            option(value=0) Select...
            each user in users
              +createSelectOption(user.id, user.email, form.assignedToId)
        .form-group(style='maxHeight: 100px; overflow-y: auto')
          label(for='tagsControlId') Tags
          select.form-control(id='tagsControlId' name='form.tags' multiple)
            each tag in tags
              +createMultiSelectOption(tag.id, tag.name, form.tags)
        .form-group
          button.btn.btn-primary(type='submit') Update