extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  .row.justify-content-md-center
    .col-md-5.my-3
      form(action=urlFor('addTask') method='post' novalidate)
        h5.my-3.text-center.font-weight-normal New task
        +createInputGroup('name', 'text', 'Task name', form, errors, true)
        +createTextAreaGroup('description', 'Description', form, errors)
        +createComboBox('statusId', 'Status', [status], form, x => x.id, x => x.name, false)
        +createComboBox('assignedToId', 'Assign to', users, form, x => x.id, x => x.email, true)
        +createInputGroup('tags', 'text', 'Tags', form, errors, true)
        .form-group
          button.btn.btn-primary(type='submit') Create task