doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/main.js')
  body(class='text-center')
    form(class='form-signin')
      h1(class='h3 mb-3 font-weight-normal') Task Manager
      h1(class='h5 mb-3 font-weight-normal') Sign In
      label(for='inputEmail' class='sr-only') Email address
      input(type='email' id='inputEmail' class='form-control' placeholder='Email address' required autofocus)
      label(for='inputPassword' class='sr-only') Password
      input(type='password' id='inputPassword' class='form-control' placeholder='Password' required)
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sing In
      p(class='mt-5 mb-3 text-muted') &copy; 2018