doctype html
html(lang="en")
  head
    title Simple Task Manager
    link(rel='icon' type='image/png' href='/assets/img/logo_03.png')
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-dark.bg-dark
      a.navbar-brand(href='#')
        img(src='/assets/img/logo_03.png' width='30' height='30' class='d-inline-block align-top' alt='')
        span.ml-2 Task Manager
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      div.navbar-collapse(id='navbarNav')
        .navbar-nav
          a(class='nav-item nav-link active' href='#') Tasks
          a(class='nav-item nav-link' href='#') Users 