extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  .row.justify-content-md-center
    .col-md-5.my-3
      form(action=urlFor('updateTag', form.id) method='post' novalidate)
        h5.my-3.text-center.font-weight-normal Edit tag
        input(name='_method' type='hidden' value='put')
        +createInputGroup('name', 'text', 'Tag name', form, errors)
        .form-group
          button.btn.btn-primary(type='submit') Update