doctype html
html(lang="en")
  head
    title Simple Task Manager
    link(rel='icon' type='image/png' href='/assets/img/logo_03.png')
    script(src='/assets/main.js')
  body
    .container
      .row.mt-5.justify-content-center
        a(href=urlFor('root'))
          img(src='/assets/img/logo_03.png' width='100' height='100')
      .row.justify-content-center
        block content