extends /layouts/auth-layout.pug

include /mixins/forms.pug

block content
  form(action=urlFor('login') method='post' novalidate)
    h1(class='h5 my-3 text-center font-weight-normal') Sign In
    if errors['summary']
      .alert.alert-danger= errors['summary'].map(({ message }) => message).join('. ')
    +createInputGroup('userName', 'text', 'User name', form, errors)
    +createInputGroup('password', 'password', 'Password', form, errors)
    .form-group
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sing In