extends /layouts/auth-layout.pug

include /mixins/forms.pug

block content
  form(action=urlFor('users') method='post' novalidate)
    h1(class='h5 my-3 text-center font-weight-normal') Sign Up
    +createInputGroup('email', 'email', 'Email address', form, errors)
    +createInputGroup('firstName', 'text', 'First name', form, errors)
    +createInputGroup('lastName', 'text', 'Last name', form, errors)
    +createInputGroup('password', 'password', 'Password', form, errors)
    +createInputGroup('confirmPassword', 'password', 'Confirm password', form, errors)
    .form-group
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sing Up