extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  form(action=urlFor('profile') method='post' novalidate)
    h1.h5.my-3.text-center.font-weight-normal Change password
    +createInputGroup("currentPassword", 'password', 'Current password', form, errors)
    +createInputGroup("password", 'password', 'New password', form, errors)
    +createInputGroup("confirmPassword", 'password', 'Confirm new password', form, errors)
    .form-group
      button(class='btn btn-lg btn-primary btn-block' type='submit') Change password